*{
    margin: 0;
}


header{
    width: 1400px; 
    margin: 0 auto;

    margin-top: 87px;
}
/* sharede style  */


.display-flex{
    display: flex;
}

/* navbar  */

.logo h2{
    font-size: 24px;
    font-weight: 700;
}

nav{
    justify-content: space-between;
}

.navbar{
    list-style: none;
    gap: 34px;
}


.navbar li a{
    text-decoration: none;
    color: #3A3A3A;
    
    
}

.navbar li a:hover{
    color: #FF5733;
    /* transform: scale(2.25);*/
    transition: 0.25s;
}

/* BANNER */

#banner{
    width: 1400px; 
    margin: 0 auto;
    /* margin-top: 48px; */
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: 870px 45px
}
.banner-content h1{
    font-size: 52px;
    font-weight: 700;
    margin-top: 145px;
    margin-bottom: 16px;
}

.banner-content p{
    font-weight: 600;
    margin-bottom: 16.1px;
}
.banner-content button{
    padding: 10px 56px 10px 24px;
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 41px;
    font-weight: 600;
    cursor: pointer;
}   

button:hover{
    background-color: #FF5733;
    transition: 0.25s;
}

.background{
    margin-top: 80px;
    margin-bottom: 120px;
}
.banner-conteiner{
    gap: 400px;
}

/* sponsors */
#sponsors{
    max-width: 1200px;
    margin: 0 auto;
}

.spn-img{
    justify-content: space-around;
    padding: 36px 62px; 
    border-top: 1px solid rgba(128, 128, 128, 0.671);
    border-bottom: 1px solid rgba(128, 128, 128, 0.568);


}

#cart-container{
    max-width: 1200px;
    margin: 0 auto;

    margin-top: 150px;

}

#cart-container .title{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 40px;
}

.carts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    justify-content: center;
}

.cart{
    /* text-align: center; */
    padding: 14px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;


}

.cart img{
    width: 100%;
    margin-bottom: 16px;
}
.cart h2{
    font-weight: 550;
    font-size: 28px;
    margin-bottom: 5px;
}
.cart h3{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}
.cart h5{
    font-size: 14px;
    font-weight: 700;
    color: #5E6366;
    margin-bottom: 5px;

}

.cart p{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
}
.see{
   
    margin-top: 50px;
    color: rgba(224, 44, 109, 0.87);
    text-align: right;
}
.see a{
    color: rgba(224, 44, 109, 0.87);
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;

}

#feature-section{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
}
.feature{
    gap: 120px;

}

.feature-content{
     padding-top: 27px;
     padding-bottom: 27px;
}


.feature-content h1{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}
.feature-content p{
    font-size: 16px;
    font-weight: 700;
    color: #6C6C6C;
    margin-bottom: 20px;
}

.feature-content button{
    padding: 14px 56px 14px 24px;
    background-color: #E02C6D;
    color: white;
    border: none;
    /* border-radius: 41px; */
    font-weight: 600;
    cursor: pointer;
}