@media screen and (max-width:576px) {
    
     *{
        margin: 3px;
    }
    header{
        width: 100%;
        
    }
    
    nav{
        flex-direction: column;
        width: 100%;
        align-items: center;

    }
    .navbar{
       flex-wrap: wrap;
       justify-content: center;
    }
    .list-item{
        margin-top: 20px;

    }

#banner{
    width: 100%;
    background-position: center 500px;
    background-size: 90%;


}
.banner-conteiner{
    flex-direction: column;
    text-align: center;
}

.background img{
    margin-top: -400px;
} 



}









@media screen and (min-width:576px) and (max-width:768px) {
     *{
        margin: 3px;
    } 
    header{
        width: 100%;
    }
    
    nav{
        flex-direction: column;
        width: 100%;
        align-items: center;

    }

 .list-item{
        margin-top: 20px;

    }

#banner{
    width: 100%;
    background-position: center 400px;
    background-size: 80%;


}
.banner-conteiner{
    flex-direction: column;
    text-align: center;
}

.background img{
    margin-top: -400px;
} 



}




@media screen and (min-width:768px) and (max-width:992px) {
    *{
        margin: 3px;
    }
    
header{
        width: 100%;

    }
    #banner{
    width: 100%;
    background-position: center 400px;
    background-size: 60%;


}
.banner-conteiner{
    flex-direction: column;
    text-align: center;
}

.background img{
    margin-top: -400px;
} 


}

@media screen and (min-width:992px) and (max-width:1400px) {
    *{
        margin: 3px;
    }
    
    header{
        width: 100%;

    }
    #banner{
    width: 100%;
    background-position: center 400px;
    background-size: 40%;


}
.banner-conteiner{
    flex-direction: column;
    text-align: center;
}

.background img{
    margin-top: -400px;
} 



}